.landing-type {
  /* Positionnement absolu pour placer l'élément par rapport à son parent le plus proche en position relative */
  position: absolute;

  /* Assure que cet élément est au-dessus des autres éléments avec un z-index inférieur */
  z-index: 1;

  /* Positionne l'élément au centre verticalement */
  top: 50%;

  /* Positionne l'élément au centre horizontalement */
  left: 50%;

  /* Utilisé pour recentrer parfaitement l'élément au centre de la page. L'élément est décalé de 50% de sa propre largeur et hauteur */
  transform: translate(-50%, -50%);

  /* Flexbox pour disposer les éléments enfants en colonne (verticalement) */
  display: flex;
  flex-direction: column;

  /* Centre les éléments enfants horizontalement */
  align-items: center;

  /* Centre les éléments enfants verticalement */
  justify-content: center;

  /* Taille de la police pour les éléments à l'intérieur de cette section (grande taille de texte) */
  font-size: 3rem;

  /* Couleur du texte, utilise une variable CSS définie dans votre thème */
  color: whitesmoke;

  /* Fond semi-transparent pour créer un effet d'arrière-plan légèrement obscurci */
  background-color: rgba(0, 0, 0, 0.2);

  /* Ajoute un espacement à l'intérieur de l'élément pour que le contenu soit éloigné des bords */
  padding: 1rem;

  /* Ajoute des coins arrondis, la valeur est définie par une variable CSS pour la cohérence dans le design */
  border-radius: 10px;

  /* Applique un effet de flou à l'arrière-plan pour créer un effet visuel de "verre dépoli" */
  backdrop-filter: blur(10px);
}
/* Pour les écrans de taille moyenne (tablettes et petits ordinateurs portables) */
@media screen and (max-width: 1024px) {
  .landing-type {
    font-size: 2.5rem; /* Réduire la taille de la police */
    padding: calc(1rem / 1.5); /* Ajuster le padding */
  }
}

/* Pour les petits écrans (mobiles en mode paysage) */
@media screen and (max-width: 768px) {
  .landing-type {
    font-size: 2rem; /* Réduire encore la taille de la police */
    padding: calc(var(--padding) / 2); /* Réduire le padding */
    background-color: rgba(
      0,
      0,
      0,
      0.3
    ); /* Rendre le fond un peu plus opaque pour la lisibilité */
  }
}

/* Pour les très petits écrans (mobiles en mode portrait) */
@media screen and (max-width: 480px) {
  .landing-type {
    font-size: 1.5rem; /* Petite taille de texte adaptée aux téléphones */
    padding: calc(1rem / 3); /* Réduire encore le padding */
    width: 90%; /* Limiter la largeur de l'élément pour éviter qu'il ne touche les bords de l'écran */
  }
}
