.typing-text {
  border: none;
  font-weight: normal;
  text-align: center;
  overflow: auto;
  outline: none;
  resize: none;
  background: transparent;
  font-size: 2rem;
  color: var(--light-shades, #ffffff);
}
